@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html, body {
    scroll-behavior: smooth;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

#section-1 {
    width: 100%;
    height: 800px;
    background-image: url("../images/sect-1-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section-2 {
    width: 100%;
    background-color: #eee;
}

#section-3 {
    width: 100%;
    height: 650px;
    background-image: url("../images/sect-3-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#footer {
    background-color: #464547;
}

#section-1 .section-content {
    padding: 250px;
}

#section-2 .section-content,
#section-3 .section-content {
    padding: 100px;
}

.footer-content {
    padding: 20px 35px;
}

.section-content,
.section-title,
.global-title,
.section-subtitle,
.section-description,
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-title,
.section-subtitle,
.section-description,
.logo,
.btn,
.play-btn{
    margin: 15px auto;
}

.section-title,
.global-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}

.global-title,
#section-3 .section-title {
    color: #fff;
}

#section-2 .section-title {
    color: #464547;
}

.section-subtitle {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    line-height: 32px;
}

#section-1 .section-subtitle {
    color: rgba(255, 255, 255, 0.7);
}

#section-2 .section-subtitle {
    color: #666;
}

#section-3 .section-subtitle {
    color: #fff;
}

.section-description {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 22px;
}

.btn {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    background-color: #55C2D8;
    border-color: transparent;
    border-radius: 18px;
    padding: 4px 20px;
    cursor: pointer;
}

.play-btn {
    background-color: #39C2D7;
    color: #fff;
    font-size: 56px;
    border-color: transparent;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    cursor: pointer;
}

.logo {
    margin: auto;
}

.footer-title {
    width: 200px;
    display: flex;
}

.footer-title p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #fff;
    margin: auto;
}

.footer-title,
.contact-address,
.copyright {
    margin: 5px 0;
}

.contact,
.copyright {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4)
}

.contact {
    display: flex;
    flex-direction: column;
}